body{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: black;
}
.ball{
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 50%;
	position: absolute;
	transition: 0.1s;
	top: -20px;
}